<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>пр2</title>
</head>
<body>
<form th:action = "${'/Add/Employee'}" method="post">
    <input type="text" name="lastname" placeholder="Фамилия "><br>
    <input type="text" name="name" placeholder="Имя "><br>
    <input type="text" name="maiddlename" placeholder="Отчество "><br>
    <input type="date" name="birthday" placeholder="Дата рождения"><br>
    <input type="text" name="expetienxs" placeholder="Стаж работы"><br>
    <button type="submit"> Добавить Сотрудника</button>
</form>
</body>
</html>